---
import MainLayout from "../layouts/MainLayout.astro";

const apiUrl = "https://hp-api.onrender.com/api/spells";
const response = await fetch(apiUrl);
const data = await response.json();

console.log(data);
---

<MainLayout>
<div class="wrapper">
    <section class="book-cover">
        <h2>Welcome wizard,</h2>
        <p>This book contains {data.length} spells.</p>
    <div class="button-wrapper">
        <a href="../spells/1">Open book</a>
    </div>
    </section>
</div>
</MainLayout>